<form action="" [formGroup]="registerForm" (onSubmit)="register()">
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                 -->
            <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">
                        <!-- <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
                        <div class="text-900 text-3xl font-medium mb-3">Đăng ký</div>
                    </div>
    
                    <div>
                        <div class="field p-fluid mb-5">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                            <input id="email1" type="text"  formControlName="email" placeholder="Email address" pInputText class="w-full md:w-30rem" style="padding:1rem">
                            <div *ngIf="form['email'].errors && (form['email'].touched || submited)">
                                <small *ngIf="form['email'].errors['required'] && (form['email'].touched || submited)" class="p-error">Vui lòng nhập email</small>
                                <small *ngIf="form['email'].errors['email'] && (form['email'].touched || submited)" class="p-error">Email không hợp lệ</small>
                            </div>
                        </div>
    
                        <div class="field p-fluid mb-5">
                            <label for="password1" class="block text-900 font-medium text-xl mb-2">Mật khẩu</label>
                            <p-password id="password1" formControlName="password" placeholder="Mật khẩu" [toggleMask]="true" styleClass="w-full md:w-30rem" inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
                            <div *ngIf="form['password'].errors && (form['password'].touched || submited)">
                                <small *ngIf="form['password'].errors['required'] && (form['password'].touched || submited)" class="p-error">Vui lòng nhập mật khẩu</small>
                                <small *ngIf="form['password'].errors['minlength'] && (form['password'].touched || submited)" class="p-error">Mật khẩu phải có ít nhất 6 ký tự</small>
                            </div>
                        </div>
                        <div class="field p-fluid mb-5">
                            <label for="password2" class="block text-900 font-medium text-xl mb-2">Nhập lại mật khẩu</label>
                            <p-password id="password2" formControlName="rePass" placeholder="Nhập lại mật khẩu" [toggleMask]="true" styleClass="w-full md:w-30rem" inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false" [ngClass]="{'ng-invalid ng-dirty': submited && form['rePass'].errors}" 
                            ></p-password>
                            <div *ngIf="form['rePass'].errors && (form['rePass'].touched || submited)">
                                <small *ngIf="form['rePass'].errors['required'] && (form['rePass'].touched || submited)" class="p-error">Vui lòng nhập mật khẩu xác nhận</small>
                            </div>
                        </div>
                        <div class="flex align-items-center mb-3">
                            <p-checkbox id="acceptTerms" [binary]="true" styleClass="mr-2" formControlName="acceptTerms" [ngClass]="{'ng-invalid ng-dirty': submited && form['acceptTerms'].errors}"></p-checkbox>
                            <label for="acceptTerms">Tôi đã đọc và đồng ý với điều khoản</label>
                            <div *ngIf="form['acceptTerms'].errors && submited">
                                <small class="p-error">Vui lòng đồng ý với điều khoản</small>
                            </div>
                        </div>
                        <p-toast></p-toast>
                        <button pButton pRipple label="Đăng ký" class="w-full p-3 text-xl" [loading]="loading" (click)="register()" type="submit"></button>
                        <p class="text-right mt-3">
                            Bạn đã có tài khoản
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" routerLink="/auth/login">Đăng nhập</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</form>